* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
 background-color: black;
 color: white;
 margin: 0%;
}

h2 {
margin: 0 10% 0;
}

.Question-Card {
    display: flex;;
    border: 1px solid red;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid deeppink;
}

.tagbar {
    display: flex;
    flex-direction: row;
    gap: 5%;
    border: 1px solid green;
}

.bookmark {
position: relative;
left: 90%;
top: -90px;
    z-index: 10;

}

button {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-content: center;
    border: 1px solid red;
    margin: 0 30% 0;
}