* {
  box-sizing: border-box;
}

header {
    position: sticky;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
}

h2 {
    background-color: rgb(248, 173, 255);
padding-bottom: 12px;
}

.Question-Card {
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
}

.bookmark {

position: absolute;
  top: 0%;
  right: 0%;
}

.button1 {
   border-radius: 15%;
   background-color: rgb(243, 222, 184);
   border: 5px beige solid;
   }

footer {
    position:fixed;
    bottom: 0px;
    background-color: rgb(20, 247, 255);
    width: 100vw;
    
}

.navbar {
    display: flex;
    justify-content: center;
}

.imgfooter { 
    width: 50px;
}